:root {
  --background-body: #000;
  --background-wrapper: #18181b;
  --border-color: #2a2a2b;
  --heading-color: #f4f4f5;
  --text-color: #9f9fa8;
  --teal-link-color: #00bba7;
  --font-sans: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --color-teal-50: oklch(98.4% .014 180.72);
  --color-teal-300: oklch(85.5% .138 181.071);
  --color-teal-400: oklch(77.7% .152 181.912);
  --color-teal-500: oklch(70.4% .14 182.503);
  --color-teal-600: oklch(60% .118 184.704);
  --color-sky-200: oklch(90.1% .058 230.902);
  --color-pink-400: oklch(71.8% .202 349.761);
  --color-zinc-50: oklch(98.5% 0 0);
  --color-zinc-100: oklch(96.7% .001 286.375);
  --color-zinc-200: oklch(92% .004 286.32);
  --color-zinc-300: oklch(87.1% .006 286.286);
  --color-zinc-400: oklch(70.5% .015 286.067);
  --color-zinc-500: oklch(55.2% .016 285.938);
  --color-zinc-600: oklch(44.2% .017 285.786);
  --color-zinc-700: oklch(37% .013 285.805);
  --color-zinc-800: oklch(27.4% .006 286.033);
  --color-zinc-900: oklch(21% .006 285.885);
  --color-black: #000;
  --color-white: #fff;
  --spacing: .25rem;
  --container-xs: 20rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-5xl: 64rem;
  --container-7xl: 80rem;
  --text-xs: .8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: .875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-4xl: 2rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 3.5rem;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-tight: -.025em;
  --radius-md: .375rem;
  --radius-xl: .75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --ease-in: cubic-bezier(.4,0,1,1);
  --ease-out: cubic-bezier(0,0,.2,1);
  --blur-xs: 4px;
  --blur-sm: 8px;
  --default-transition-duration: .15s;
  --default-transition-timing-function: cubic-bezier(.4,0,.2,1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono)
}

body {
  display: flex;
  justify-content: center;
  background: var(--background-body);
  color: var(--text-color);
  font-size: var(--text-base);
  font-family: var(--default-font-family);
  line-height: var(--text-base--line-height);
}

h1 {
  font-size: var(--text-5xl);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: var(--font-sans);
  color: var(--heading-color);
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

a {
  color: var(--teal-link-color);
}

.wrapper {
  flex-basis: 1000px;
  align-items: center;
  background: var(--background-wrapper);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-2xl);
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.top-container,
.middle-container,
.bottom-container {
  text-align: center;
  padding: 1em;
  line-height: 1.5rem;
}

.circle-clip {
  clip-path: circle(50%);
  width: 200px;
  height: 200px;
}

.bottom-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-container ul li {
  display: inline;
  margin-right: 2em;
}

a { text-decoration: none;}


